[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "==5.*"
flake8 = "*"
django = "*"
setuptools = "*"
wheel = "*"
twine = "*"
sphinx = "*"
django-otp-yubikey = {editable = true,path = "."}
bumpversion = "*"

[packages]

[requires]
python_version = "3.7"
